# Database
DB_URL=jdbc:mysql://127.0.0.1:3307/story_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
DB_USERNAME=story_user
DB_PASSWORD=story_pass

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=planwith-kafka:9092
KAFKA_CONSUMER_GROUP=story-service

# Server
SERVER_PORT=8089

# External Services
MEMBER_SERVICE_URL=http://gateway:8082
FOLLOW_SERVICE_URL=http://gateway:8082
SCHEDULE_SERVICE_URL=http://gateway:8081
LIKE_SERVICE_URL=http://gateway:8091
COMMENT_SERVICE_URL=http://gateway:8090
MEMBERSHIP_SERVICE_URL=http://gateway:8087

# OpenAI
OPENAI_API_KEY=
